@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap'); */
* {
  font-family: 'Noto Sans TC', sans-serif;
  /* font-family: 'Noto Serif TC', serif; */

  font-size: 18px;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
  color: inherit;
}

p {
  text-indent: 1rem;
}

section {
  min-height: 100vh;
  padding-top: 150px;
}

/* left */

.my-profile-bg {
  background: #F2F3F7;
}

.my-photo {
  height: 7rem;
  width: 7rem;
  object-fit: scale-down;
  background: #ffffff;
}


.nav-item:hover,
.nav-item:focus,
.nav-item:active {
  border-bottom: 1.5px solid rgb(252, 191, 191) !important;
  margin-bottom: -1.5px;
  transition: .3s;
  /* transform: scaleY(1.05); */
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
  border-bottom: 1.5px solid rgb(252, 191, 191) !important;
  margin-bottom: -1.5px;
  transition: .5s;
  /* transform: scale(1.05); */
}

.contact {
  color: rgb(61, 61, 61);
}

.my-icon {
  opacity: 1;
  font-size: 1.5rem; 
}

.my-icon:hover {
  opacity: 0.7;
}

.version {
  bottom: 1rem;
}

.version > a {
  font-size: .8rem;
  color: rgb(175, 176, 177);
}

.version > a:hover {
  border-bottom: 1.5px solid rgb(252, 191, 191) !important;
  margin-bottom: -1.5px;
  transition: .3s;
  color: rgb(59, 59, 59);
  /* border-bottom: 1px solid rgb(175, 176, 177); */
}

/* right */

.carousel-indicators li {
  cursor: pointer;
  background-color: rgb(161, 161, 161);
  opacity: 0.7;
  /* -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease; */
}

.carousel-indicators .active {
  background-color: rgb(0, 0, 0);
  opacity: 0.9;
}

.carousel-item img {
  width: 100%;
  max-height: 450px;
  object-fit: scale-down;
}

@media (max-width: 992px) {
  .carousel-item img {
    max-height: 300px;
  }
}

@media (max-width: 768px) {
  .carousel-item img {
    max-height: 200px;
  }
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23AAA' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23AAA' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}

.padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.content {
  background: #F2F3F7;
  padding: 10px 20px;
  border-radius: 8px;
}

.block {
  margin: 20px 0;
  padding: 10px 15px;
  border: 1px solid rgb(200, 200, 202);
  border-radius: 6px;
  /* box-shadow: 4px 5px 10px 4px rgba(128, 128, 128, 0.5); */
}

.go-top {
  position: fixed;
  right: 2rem;
  bottom: 1rem;
  color: rgb(175, 176, 177);
  opacity: 0.8;
}

.go-top > a:hover,
.go-top > a:focus {
  color: rgb(59, 59, 59);
}

/* 
@media (min-width: 768px) {
  nav {
    height: 3rem;
    transition: 0.3s;
  }
  nav:hover {
    height: 3.5rem;
  }
} */